<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<div>



            <div class="col width-45" style="width: 100% !important">

                <fieldset>
                    <legend>{$P.Lang[21].Text}</legend>
                    <form action="" method="post" enctype="multipart/form-data" id="frmIns_SystemUsers"
                    name="frmIns_SystemUsers" onsubmit="return false;">
                   <input type="hidden" id="txt_UserID" name="txt_UserID"  />
                    <table class="admintable" width="100%">
                        <tr>
                            <td class="key">{$P.Lang[0].Text}</td>
                            <td class="paramlist_key">
                                <input type="text" id="txt_Username" name="txt_Username" /></td>
                        </tr>
                        <tr>
                            <td class="key">{$P.Lang[1].Text}</td>
                            <td class="paramlist_key">
                                <input type="text" id="txt_UserGroup" name="txt_UserGroup" /></td>
                        </tr>
                        <tr>
                            <td class="key">{$P.Lang[2].Text}</td>
                            <td class="paramlist_key">
                                <input type="text" id="txt_Email" name="txt_Email" /></td>
                        </tr>
                        <tr>
                            <td class="key">{$P.Lang[3].Text}</td>
                            <td class="paramlist_key">
                                <input type="password" id="txt_Password" name="txt_Password" /></td>
                        </tr>
                        <tr>
                            <td class="key">{$P.Lang[4].Text}</td>
                            <td class="paramlist_key">
                                <input type="text" id="txt_IDRefMailSystem" name="txt_IDRefMailSystem" /></td>
                        </tr>
                        <tr>
                            <td class="key">{$P.Lang[5].Text}</td>
                            <td class="paramlist_key">
                                <input type="text" id="txt_IDRefAnotherSystem" name="txt_IDRefAnotherSystem" /></td>
                        </tr>
                        <tr>
                            <td class="key">{$P.Lang[6].Text}</td>
                            <td class="paramlist_key">
                                <select id="txt_Type" name="txt_Type">
                                            <option value="0" >{$P.Lang[7].Text}</option>
                                            <option value="1"  selected="selected">{$P.Lang[8].Text}</option>
                                            <option value="2" >{$P.Lang[9].Text}</option>
                                            <option value="3">{$P.Lang[10].Text}</option>
                                            <option value="4" >{$P.Lang[11].Text}</option>
                                                        </select>
                                                     </td></tr>
                        <tr><td class="key">{$P.Lang[12].Text}</td><td class="paramlist_key"><select id="txt_Status" name="txt_Status">
                                            <option value="0" >{$P.Lang[13].Text}</option>
                                            <option value="1"  selected="selected">{$P.Lang[14].Text}</option>
                                            <option value="2" >{$P.Lang[15].Text}</option>
                            </select>
                            </td></tr>   
                      </table>
                    </form>
                </fieldset>
           
    </div>
</div>
