<table cellspacing="0" cellpadding="0" class="bubble-table">
    <tbody>
        <tr>
            <td class="bubble-cell-side">
                <div class="bubble-corner" id="tl1">
                    <div class="bubble-sprite bubble-tl">
                    </div>
                </div>
            </td>
            <td class="bubble-cell-main">
                <div class="bubble-top">
                </div>
            </td>
            <td class="bubble-cell-side">
                <div class="bubble-corner" id="tr1">
                    <div class="bubble-sprite bubble-tr">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="bubble-mid">
                <div id="bubbleContent1" style="overflow: hidden">
                    <div>
                        <div>
                        </div>
                        <div class="cb-root">
                            <table cellspacing="0" cellpadding="0" class="cb-table">
                                <tbody>
                                    <tr>
                                        <td class="cb-value">
                                            <div class="textbox-fill-wrapper">
                                                <div class="textbox-fill-mid">
                                                    <div style="cursor: pointer;" class="textbox-fill-div lk" title="View details" id="bbit-cs-what">
                                                        Tiêu đề 
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cb-value">
                                            <div id="bbit-cs-buddle-timeshow">
                                                Jul 31 (Wed),07:00</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="bbit-cs-split">
                                <input type="hidden" value="32" id="bbit-cs-id"><input type="button" value="Xóa"
                                    class="lk" id="bbit-cs-delete">
                                <input type="button" value="Sửa thông tin" class="lk" id="bbit-cs-editLink">
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="bubble-corner" id="bl1">
                    <div class="bubble-sprite bubble-bl">
                    </div>
                </div>
            </td>
            <td>
                <div class="bubble-bottom">
                </div>
            </td>
            <td>
                <div class="bubble-corner" id="br1">
                    <div class="bubble-sprite bubble-br">
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
