<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script language="javascript" type="text/javascript">

    $(document).ready(function () { setTimeout('Init_Dialog_Upd("#Div_CategoryLevel1", "#Div_CodeAlbum", "#CodeCategoryLevel1", "#IDAlbum");', 1000) });
</script>
<div>
    <div id="element-box">

            <div class="col width-45" style="width: 100% !important">
                <fieldset>
                    <legend>{$P.Lang[34].Text}</legend>
                    <form action="" method="post" enctype="multipart/form-data" id="frmUpd_Contents" name="frmUpd_Contents"
                    onsubmit="return false;">
                    <input type="hidden" id="txt_ID" name="txt_ID" value="{$T.Contents_Group[0].ID}" />
                    <input type="hidden" id="txt_CodeCategoryLevel1" name="txt_CodeCategoryLevel1" />
                    <input type="hidden" id="IDAlbum" name="IDAlbum" value="{$T.Contents_Group[0].IDAlbum}" />
                    <input type="hidden" id="txt_Code" name="txt_Code" value="{$T.Contents_Group[0].Code}" />
					<!--<input type="hidden" id="txt_Type" name="txt_Type" value="{$T.Contents_Group[0].Type}" />-->
                <!--##############################################################-->
            <table class="admintable" width="100%">		 
			 
                <tr>
                   
                
                    <td class="key" style="width:25%">{$P.Lang[9].Text}</td>
                    <td class="paramlist_key" style="width:25%">
                        <div id="Div_CodeAlbum"></div>
                </tr>
                <tr>
                    <td class="key">{$P.Lang[0].Text}</td>
                    <td class="paramlist_key">                        
                          <select id="txt_Type" name="txt_Type">
                            <option value="0" {#if $T.Contents_Group[0].Type == 0} selected="selected"  {#/if}>{$P.Lang[39].Text}</option>
                            <option value="1" {#if $T.Contents_Group[0].Type == 1} selected="selected"  {#/if}>{$P.Lang[40].Text}</option>
                            <option value="2" {#if $T.Contents_Group[0].Type == 2} selected="selected"  {#/if}>{$P.Lang[41].Text} </option>
                            <option value="3" {#if $T.Contents_Group[0].Type == 3} selected="selected"  {#/if}>{$P.Lang[42].Text} </option>
                            <option value="4" {#if $T.Contents_Group[0].Type == 4} selected="selected"  {#/if}>{$P.Lang[43].Text} </option>
                        </select>
                    </td>

                    <td class="key">{$P.Lang[1].Text}</td>
                    <td class="paramlist_key">
                        <input type="text" id="txt_CreatedBy" name="txt_CreatedBy" value="{$T.Contents_Group[0].CreatedBy}" /></td>

                </tr>
                <tr>
                    <td class="key">{$P.Lang[2].Text}</td>
                    <td class="paramlist_key">
                        <input type="text" id="txt_Tag" name="txt_Tag" value="{$T.Contents_Group[0].Tag}" /></td>

                    <td class="key">{$P.Lang[5].Text}</td>
                    <td class="paramlist_key">
                        <input type="text" id="txt_UpdateBy" name="txt_UpdateBy" value="{$T.Contents_Group[0].UpdateBy}" /></td>
                </tr>
                <tr>
                    <td class="key">{$P.Lang[3].Text}</td>
                    <td class="paramlist_key">
                        <input type="text" id="txt_DateCreated" name="txt_DateCreated" value="{$T.Contents_Group[0].DateCreated}" /></td>

                    <td class="key">{$P.Lang[4].Text}</td>
                    <td class="paramlist_key">
                        <input type="text" id="txt_DateEdited" name="txt_DateEdited" value="{$T.Contents_Group[0].DateEdited}" /></td>
                </tr>
               
                <tr>
                    <td class="key">{$P.Lang[6].Text}</td>
                    <td class="paramlist_key">
                        <input type="text" id="txt_PublishDate" name="txt_PublishDate" value="{$T.Contents_Group[0].PublishDate}" /></td>

                    <td class="key">{$P.Lang[7].Text}</td>
                    <td class="paramlist_key">
                        <input type="text" id="txt_ExpireDate" name="txt_ExpireDate" value="{$T.Contents_Group[0].ExpireDate}" /></td>
                </tr>
                   <tr>
                    <td class="key">
                        {$P.Lang[16].Text}
                    </td>
                    <td class="paramlist_key">
                        <select id="txt_Status" name="txt_Status">
                            <option value="0" {#if $T.Contents_Group[0].Status == 0} selected="selected"  {#/if}>{$P.Lang[17].Text}</option>
                            <option value="1" {#if $T.Contents_Group[0].Status == 1} selected="selected"  {#/if}>{$P.Lang[18].Text}</option>
                            <option value="2" {#if $T.Contents_Group[0].Status == 2} selected="selected"  {#/if}>{$P.Lang[19].Text} </option>
                            <option value="3" {#if $T.Contents_Group[0].Status == 3} selected="selected"  {#/if}>{$P.Lang[20].Text} </option>
                            <option value="4" {#if $T.Contents_Group[0].Status == 4} selected="selected"  {#/if}>{$P.Lang[21].Text} </option>
                        </select>
                    </td>
                    <td class="key">
                        {$P.Lang[22].Text}
                    </td>
                    <td class="paramlist_key">
                        <select id="txt_Disable" name="txt_Disable">
                            <option value="false"  {#if $T.Contents_Group[0].Disable == false} selected="selected"  {#/if}>{$P.Lang[23].Text} </option>
                            <option value="true"   {#if $T.Contents_Group[0].Disable == true} selected="selected"  {#/if}>{$P.Lang[24].Text} </option>
                        </select>
                    </td>
                </tr>
                        
                <!--<tr>
                    <td class="key">ExtendProperties1</td>
                    <td class="paramlist_key">
                        <input type="text" id="txt_ExtendProperties1" name="txt_ExtendProperties1" value="{$T.Contents_Group[0].ExtendProperties1}" /></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="key">ExtendProperties2</td>
                    <td class="paramlist_key">
                        <input type="text" id="txt_ExtendProperties2" name="txt_ExtendProperties2" value="{$T.Contents_Group[0].ExtendProperties2}" /></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="key">ExtendProperties3</td>
                    <td class="paramlist_key">
                        <input type="text" id="txt_ExtendProperties3" name="txt_ExtendProperties3" value="{$T.Contents_Group[0].ExtendProperties3}" /></td>
                    <td></td>
                    <td></td>
                </tr>-->

             
              <tr>
                        <!--==============================================-->
                        <td class="key" style="width: 25%">
                            <form></form>


                            <input type="hidden" id="txt_Image_1" name="txt_Image_1" value="{$T.Contents_Group[0].Image}" />
                            <form id="Form_Upload_1" enctype="multipart/form-data" method="post" action="">
                                <div style="width: 100%">
                                    {$P.Lang[10].Text}<br />
                                    <input style="width: 100%" type="file" name="image_file_1" id="image_file_1" onchange="fileSelected(1);" />
                           
                                    
                                    <div class="fileinfo" id="fileinfo_1">
                                        <div id="filename_1">
                                        </div>
                                        <div id="filesize_1">
                                        </div>
                                        <div id="filetype_1">
                                        </div>
                                        <div id="filedim_1">
                                        </div>
                                    </div>
                                    <img id="preview_1" width="100%" style="margin-bottom: 10px; margin-top: 10px" src="/Uploads/{$T.Contents_Group[0].Image}" alt="{$T.Contents_Group[0].Title}" />

                                    <input type="button" style="width: 100%; margin-top: 5px; margin-bottom: 10px" value="Upload" onclick="startUploading(1, 'Form_Upload_1', 'Contents_IMAGE', 'txt_Image_1', true, -1, -1, true)" />

                                </div>

                                <div style="width: 100%">
                                    <div class="error" id="error_1">{$P.Lang[12].Text}</div>
                                    <div class="error2" id="error2_1">{$P.Lang[13].Text}</div>
                                    <div class="abort" id="abort_1">{$P.Lang[14].Text}</div>
                                    <div class="warnsize" id="warnsize_1">{$P.Lang[15].Text}</div>

                                    <div id="progress_info_1" class="progress_info">
                                        <div id="progress_1" class="progress">
                                        </div>
                                        <div id="progress_percent_1" class="progress_percent">
                                            &nbsp;
                                        </div>
                                        <div class="clear_both">
                                        </div>
                                        <div>
                                            <div id="speed_1" class="speed">
                                                &nbsp;
                                            </div>
                                            <div id="remaining_1" class="remaining">
                                                &nbsp;
                                            </div>
                                            <div id="b_transfered_1" class="b_transfered">
                                                &nbsp;
                                            </div>
                                            <div class="clear_both">
                                            </div>
                                        </div>
                                        <input type="hidden" id="upload_response_1" />



                                    </div>
                                </div>
                            </form>
                       
                            <!--==============================================-->
                        </td>
                        <td class="key" style="width: 25%">
                            <input type="hidden" id="txt_Image_2" name="txt_Image_2" value="{$T.Contents_Group[0].Image1}" />
                            <form id="Form_Upload_2" enctype="multipart/form-data" method="post" action="">
                                <div style="width: 100%">
                                    {$P.Lang[36].Text}<br />
                                    <input style="width: 100%" type="file" name="image_file_2" id="image_file_2" onchange="fileSelected(2);" />

                                    
                                    <div class="fileinfo" id="fileinfo_2">
                                        <div id="filename_2">
                                        </div>
                                        <div id="filesize_2">
                                        </div>
                                        <div id="filetype_2">
                                        </div>
                                        <div id="filedim_2">
                                        </div>
                                    </div>
                                    <img id="preview_2"  width="100%" style="margin-bottom: 10px; margin-top: 10px" src="/Uploads/{$T.Contents_Group[0].Image1}" alt="{$T.Contents_Group[0].Title}"/>

                                    <input type="button" style="width: 100%; margin-top: 5px; margin-bottom: 10px" value="Upload" onclick="startUploading(2, 'Form_Upload_2', 'Contents_IMAGE', 'txt_Image_2', true, -1, -1, true)" />

                                </div>

                                <div style="width: 100%">
                                    <div class="error" id="error_2">{$P.Lang[12].Text}</div>
                                    <div class="error2" id="error2_2">{$P.Lang[13].Text}</div>
                                    <div class="abort" id="abort_2">{$P.Lang[14].Text}</div>
                                    <div class="warnsize" id="warnsize_2">{$P.Lang[15].Text}</div>

                                    <div id="progress_info_2" class="progress_info">
                                        <div id="progress_2" class="progress">
                                        </div>
                                        <div id="progress_percent_2">
                                            &nbsp;
                                        </div>
                                        <div class="clear_both">
                                        </div>
                                        <div>
                                            <div id="speed_2" class="speed">
                                                &nbsp;
                                            </div>
                                            <div id="remaining_2" class="remaining">
                                                &nbsp;
                                            </div>
                                            <div id="b_transfered_2">
                                                &nbsp;
                                            </div>
                                            <div class="clear_both">
                                            </div>
                                        </div>
                                        <input type="hidden" id="upload_response_2" />
                                        <input type="hidden" id="txtImage_2" />


                                    </div>
                                </div>
                            </form>
                        </td>
                        <td class="key" style="width: 25%">
                            <input type="hidden" id="txt_Image_3" name="txt_Image_3" value="{$T.Contents_Group[0].Image2}"/>
                            <form id="Form_Upload_3" enctype="multipart/form-data" method="post" action="">
                                <div style="width: 100%">
                                    {$P.Lang[37].Text}<br />
                                    <input style="width: 100%" type="file" name="image_file_3" id="image_file_3" onchange="fileSelected(3);" />

                                    
                                    <div class="fileinfo" id="fileinfo_3">
                                        <div id="filename_3">
                                        </div>
                                        <div id="filesize_3">
                                        </div>
                                        <div id="filetype_3">
                                        </div>
                                        <div id="filedim_3">
                                        </div>
                                    </div>
                                    <img id="preview_3" width="100%" style="margin-bottom: 10px; margin-top: 10px" src="/Uploads/{$T.Contents_Group[0].Image2}" alt="{$T.Contents_Group[0].Title}" />

                                    <input type="button" style="width: 100%; margin-top: 5px; margin-bottom: 10px" value="Upload" onclick="startUploading(3, 'Form_Upload_3', 'Contents_IMAGE', 'txt_Image_3', true, -1, -1, true)" />

                                </div>

                                <div style="width: 100%">
                                    <div class="error" id="error_3">{$P.Lang[12].Text}</div>
                                    <div class="error2" id="error2_3">{$P.Lang[13].Text}</div>
                                    <div class="abort" id="abort_3">{$P.Lang[14].Text}</div>
                                    <div class="warnsize" id="warnsize_3">{$P.Lang[15].Text}</div>

                                    <div id="progress_info_3" class="progress_info">
                                        <div id="progress_3" class="progress">
                                        </div>
                                        <div id="progress_percent_3">
                                            &nbsp;
                                        </div>
                                        <div class="clear_both">
                                        </div>
                                        <div>
                                            <div id="speed_3" class="speed">
                                                &nbsp;
                                            </div>
                                            <div id="remaining_3" class="remaining">
                                                &nbsp;
                                            </div>
                                            <div id="b_transfered_3">
                                                &nbsp;
                                            </div>
                                            <div class="clear_both">
                                            </div>
                                        </div>
                                        <input type="hidden" id="upload_response_3" />
                                        <input type="hidden" id="txtImage_3" />


                                    </div>
                                </div>
                            </form>
                        </td>
                        <td class="key" style="width: 25%">
                            <input type="hidden" id="txt_Image_4" name="txt_Image_4" value="{$T.Contents_Group[0].Image3}"/>
                            <form id="Form_Upload_4" enctype="multipart/form-data" method="post" action="">
                                <div style="width: 100%">
                                    {$P.Lang[10].Text}<br />
                                    <input style="width: 100%" type="file" name="image_file_4" id="image_file_4" onchange="fileSelected(4);" />

                                    
                                    <div class="fileinfo" id="fileinfo_4">
                                        <div id="filename_4">
                                        </div>
                                        <div id="filesize_4">
                                        </div>
                                        <div id="filetype_4">
                                        </div>
                                        <div id="filedim_4">
                                        </div>
                                    </div>
                                    <img id="preview_4" width="100%" style="margin-bottom: 10px; margin-top: 10px" src="/Uploads/{$T.Contents_Group[0].Image3}" alt="{$T.Contents_Group[0].Title}" />

                                    <input type="button" style="width: 100%; margin-top: 5px; margin-bottom: 10px" value="Upload" onclick="startUploading(4, 'Form_Upload_4', 'Contents_IMAGE', 'txt_Image_4', true, -1, -1, true)" />

                                </div>

                                <div style="width: 100%">
                                    <div class="error" id="error_4">{$P.Lang[12].Text}</div>
                                    <div class="error2" id="error2_4">{$P.Lang[13].Text}</div>
                                    <div class="abort" id="abort_4">{$P.Lang[14].Text}</div>
                                    <div class="warnsize" id="warnsize_4">{$P.Lang[15].Text}</div>

                                    <div id="progress_info_4" class="progress_info">
                                        <div id="progress_4" class="progress">
                                        </div>
                                        <div id="progress_percent_4">
                                            &nbsp;
                                        </div>
                                        <div class="clear_both">
                                        </div>
                                        <div>
                                            <div id="speed_4" class="speed">
                                                &nbsp;
                                            </div>
                                            <div id="remaining_4" class="remaining">
                                                &nbsp;
                                            </div>
                                            <div id="b_transfered_4">
                                                &nbsp;
                                            </div>
                                            <div class="clear_both">
                                            </div>
                                        </div>
                                        <input type="hidden" id="upload_response_4" />
                                        <input type="hidden" id="txtImage_4" />


                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
            </table>
                <!--##############################################################-->
                <div id="tabs">
                    <ul>
                        {#for index = 1 to $P.NumLang} <li><a href="#tabs-{$T.index}">{$P.Lang[25].Text}  {$T.index}</a></li>{#/for}
                    </ul>
                    {#for index = 1 to $P.NumLang}
                    <div id="tabs-{$T.index}">

                     <input type="hidden" id="IDLang_{$T.index}" name="IDLang_{$T.index}" value="{$T.index}" />
                     <table class="admintable">
                           <tr>
                    <td class="key">{$P.Lang[26].Text}</td>
                    <td class="paramlist_key" colspan="3">
                       <input type="text" id="txt_Title_Lang{$T.index}" name="txt_Title_Lang{$T.index}" value="{$T.Contents_Group[$T.index-1].Title}" /></td>

                </tr>
                           <tr>
                               <td class="key">{$P.Lang[48].Text}</td>
                                <td class="paramlist_key">
                                    <input type="text" id="txt_ExtendProperties1_Lang{$T.index}" name="txt_ExtendProperties1_Lang{$T.index}"  value="{$T.Contents_Group[$T.index-1].ExtendProperties1}"  />
                                </td>
                                <td class="paramlist_key">
                                    <input type="text" id="txt_ExtendProperties2_Lang{$T.index}" name="txt_ExtendProperties2_Lang{$T.index}"  value="{$T.Contents_Group[$T.index-1].ExtendProperties2}" />
                                </td>
                                <td class="paramlist_key">
                                    <input type="text" id="txt_ExtendProperties3_Lang{$T.index}" name="txt_ExtendProperties3_Lang{$T.index}"  value="{$T.Contents_Group[$T.index-1].ExtendProperties3}" />
                                </td>
                            </tr>

                        <tr>
                            <td class="key" width="10%">
                                {$P.Lang[27].Text}
                            </td>
                            <td class="paramlist_key" colspan="3">
                                <textarea id="txt_Intro_Lang{$T.index}" name="txt_Intro_Lang{$T.index}" class="txt_Intro" style="width:100%; height: 63px;" rows="10"cols="45">{$T.Contents_Group[$T.index-1].Intro}</textarea>
                             
                            </td>
                        </tr>
                        <tr>
                            <td class="key" width="10%">
                                {$P.Lang[28].Text}
                            </td>
                            <td class="paramlist_key" colspan="3">
                                <textarea id="txt_Info_Lang{$T.index}" name="txt_Info_Lang{$T.index}" class="txt_Info" rows="10"cols="45" style="width:100%; height: 400px;">{$T.Contents_Group[$T.index-1].Info}</textarea>
                            </td>
                        </tr>

                    </table>
                    </div>
                    {#/for}
                </div>
                <!--##############################################################-->
                    </form>
                </fieldset>
            </div>
            <div class="clr">
            </div>
  
    </div>
</div>
