
<script language="javascript" type="text/javascript">
    $(document).ready(function () { setTimeout('Init_Dialog_Upd("#divCustomer", "#divHalls", "#IDCustomer", "#CodeHall", "#Start", "#End");', 1000); });
</script>
<div>
    <div class="col width-45" style="width: 100% !important">
        <fieldset>
            <legend>Sửa BookingHalls</legend>
                    <form action="" method="post" enctype="multipart/form-data" id="frmUpd_BookingHalls"
                    name="frmUpd_BookingHalls" onsubmit="return false;">
                    <input type="hidden" id="txt_ID" name="txt_ID" value="{$T.BookingHalls_Group[0].ID}" />
                    <input type="hidden" id="txt_Type" name="txt_Type" value="2" />


                    <!-- ========================Danh cho JS =================================  -->
                    <input type="hidden" id="IDCustomer" name="IDCustomer" value= "{$T.BookingHalls_Group[0].IDCustomer}" />
                    <input type="hidden" id="CodeHall" name="CodeHall" value= "{$T.BookingHalls_Group[0].CodeHall}" />
                    <input type="hidden" id="Start" name="Start" value= "{$T.BookingHalls_Group[0].StartTime}" />
                    <input type="hidden" id="End" name="End" value= "{$T.BookingHalls_Group[0].EndTime}" />
                    
                    <!-- =========================================================  -->
                    <!--##############################################################-->
                                  <div id="tabs">
                                        <ul>
                                            {#for index = 1 to $P.NumLang} <li><a href="#tabs-{$T.index}">{$P.Lang[64].Text} {$T.index}</a></li>{#/for}
                                        </ul>
                                        {#for index = 1 to $P.NumLang}
                                        <div id="tabs-{$T.index}">
                                            <input type="hidden" id="IDLang_{$T.index}" name="IDLang_{$T.index}" value="{$T.index}" />
                                            <table class="admintable" width="100%">
                                            
                                                <tr>
                                                    <td class="key">{$P.Lang[15].Text}(*)
                                                    </td>
                                                    <td class="paramlist_key">
                                                        <input type="text" id="txt_Subject_Lang{$T.index}" name="txt_Subject_Lang{$T.index}" value="{$T.BookingHalls_Group[$T.index-1].Subject}" />
                                                    </td>
                                                    <td class="key">{$P.Lang[16].Text}(*)
                                                    </td>
                                                    <td class="paramlist_key">
                                                        <input type="text" id="txt_Location_Lang{$T.index}" name="txt_Location_Lang{$T.index}" value="{$T.BookingHalls_Group[$T.index-1].Location}" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="key">{$P.Lang[17].Text}(*)
                                                    </td>
                                                    <td class="paramlist_key" colspan="3">
                                                        <input type="text" id="txt_Description_Lang{$T.index}" name="txt_Description_Lang{$T.index}" value="{$T.BookingHalls_Group[$T.index-1].Description}" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="key">{$P.Lang[18].Text}(*)
                                                    </td>
                                                    <td class="paramlist_key" colspan="3">
                                                        <textarea style="width: 100%; height: 63px;" rows="10" cols="45" id="txt_Note_Lang{$T.index}" name="txt_Note_Lang{$T.index}"> {$T.BookingHalls_Group[$T.index-1].Note} </textarea>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        {#/for}
                                    </div>
                      
                                <!--##############################################################-->
              
                        <table class="admintable" width="100%">
                            <tr>
                                <td class="key">{$P.Lang[2].Text}(*)
                                </td>
                                <td class="paramlist_key">
                                    <div id="divCustomer">
                                    </div>
                                </td>
                                <td class="key">{$P.Lang[3].Text}(*)
                                </td>
                                <td class="paramlist_key">
                                    <div id="divHalls">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="key">{$P.Lang[4].Text}(*)
                                </td>
                                <td class="paramlist_key">
                                    <input type="text" id="txt_Unit" name="txt_Unit" value="{$T.BookingHalls_Group[0].Unit}"  style="width:35% ; float:left"/>
                                    <span id="lbWarning_Unit"></span>

                                        <select id="txt_TableOrPerson" name="txt_TableOrPerson" style="width:63% ; height:16px ;float:left">
                                            <option value="1"  {#if $T.BookingHalls_Group[0].TableOrPerson == 1} selected="selected"  {#/if}>{$P.Lang[6].Text}</option>
                                            <option value="2"  {#if $T.BookingHalls_Group[0].TableOrPerson == 2} selected="selected"  {#/if}>{$P.Lang[7].Text}</option>
                                            <option value="0"  {#if $T.BookingHalls_Group[0].TableOrPerson == 0} selected="selected"  {#/if}>{$P.Lang[8].Text}</option>
                                        </select>

                                </td>
                                <td class="key">{$P.Lang[19].Text}
                                </td>
                                <td class="paramlist_key">
                                    <input type="text" id="txt_Cost" name="txt_Cost" style="width:35% ; float:left" value="{$T.BookingHalls_Group[0].Cost}"/>
                                    <select id="txt_CostUnit" name="txt_CostUnit" style="width:63% ; height:16px ;float:left" >
                                            <option value="1" {#if $T.BookingHalls_Group[0].CostUnit == 1} selected="selected"  {#/if}>VND </option>
                                            <option value="2" {#if $T.BookingHalls_Group[0].CostUnit == 2} selected="selected"  {#/if}>USD </option>
                                            <option value="3" {#if $T.BookingHalls_Group[0].CostUnit == 3} selected="selected"  {#/if}>Yen </option>
                                            <option value="4" {#if $T.BookingHalls_Group[0].CostUnit == 4} selected="selected"  {#/if}>LB </option>
                                            <option value="5" {#if $T.BookingHalls_Group[0].CostUnit == 5} selected="selected"  {#/if}>Uero </option>
                                            <option value="0" {#if $T.BookingHalls_Group[0].CostUnit == 0} selected="selected"  {#/if}>{$P.Lang[8].Text} </option>
                                        </select>
                                 </td>
                            </tr>
                            <tr>
                                <td class="key">{$P.Lang[9].Text}(*)
                                </td>
                                <td class="paramlist_key">
                                    <input type="text" id="txt_StartTime" name="txt_StartTime"  value="{$T.BookingHalls_Group[0].StartTime}" onchange="SetLunarDate();" />
                                </td>
                                <td class="key">{$P.Lang[10].Text}(*)
                                </td>
                                <td class="paramlist_key">
                                    <input type="text" id="txt_EndTime" name="txt_EndTime" value="{$T.BookingHalls_Group[0].EndTime}" />
                                </td>
                            </tr>
                            <tr>
                                <td class="key">{$P.Lang[11].Text}(*)
                                </td>
                                <td class="paramlist_key">
                                    <input type="text" id="txt_LunarDate" name="txt_LunarDate" value="{$T.BookingHalls_Group[0].LunarDate}" readonly="readonly" />
                                </td>
                                <td class="key">{$P.Lang[12].Text}(*)
                                </td>
                                <td class="paramlist_key">
                                    <select id="txt_BookingStatus" name="txt_BookingStatus">
                                           <!-- <option value="0" {#if $T.BookingHalls_Group[0].BookingStatus == 0} selected="selected"  {#/if}>Đã xong</option>
                                            <option value="1" {#if $T.BookingHalls_Group[0].BookingStatus == 1} selected="selected"  {#/if}>Tạm hoãn</option>-->
                                            <option value="2" {#if $T.BookingHalls_Group[0].BookingStatus == 2} selected="selected"  {#/if}>{$P.Lang[13].Text} </option>
                                            <option value="3" {#if $T.BookingHalls_Group[0].BookingStatus == 3} selected="selected"  {#/if}>{$P.Lang[14].Text}</option>
                                            <!--<option value="4" {#if $T.BookingHalls_Group[0].BookingStatus == 4} selected="selected"  {#/if}></option>-->

                                    </select>
                                </td>
                            </tr>

                        </table>
                        
                        <a onclick="FullOption()" style="color:Blue; margin:10 10 10 10">Show Full Option</a>
                        <!-- =============================================================== -->
                        <!-- =============================================================== -->
                        <!-- =============================================================== -->

                        <table class="admintable"  id="tblFullOption" style="display: none;" width="100%">
                            <!--<tr>

                                </td>
                                <td class="key">{$P.Lang[20].Text}
                                </td>
                                <td class="paramlist_key">
                                        
                                </td>
                            </tr>-->
                            <tr>
                                <td class="key">{$P.Lang[21].Text}
                                </td>
                                <td class="paramlist_key">
                                        <select id="txt_PayMethod" name="txt_PayMethod">
                                            <option value="1" {#if $T.BookingHalls_Group[0].PayMethod == 1} selected="selected"  {#/if}>{$P.Lang[22].Text} </option>
                                            <option value="2" {#if $T.BookingHalls_Group[0].PayMethod == 2} selected="selected"  {#/if}>{$P.Lang[23].Text}</option>
                                            <option value="3" {#if $T.BookingHalls_Group[0].PayMethod == 3} selected="selected"  {#/if}>{$P.Lang[24].Text} </option>
                                            <option value="0" {#if $T.BookingHalls_Group[0].PayMethod == 0} selected="selected"  {#/if}>{$P.Lang[8].Text}</option>
                                        </select>
                                </td>
                                <td class="key">{$P.Lang[25].Text}
                                </td>
                                <td class="paramlist_key">
                                        <select id="txt_StatusPay" name="txt_StatusPay">
                                            <option value="1" {#if $T.BookingHalls_Group[0].StatusPay == 1} selected="selected"  {#/if} onclick="ShowTextboxBookingMoney(1);">{$P.Lang[26].Text}</option>
                                            <option value="2" {#if $T.BookingHalls_Group[0].StatusPay == 2} selected="selected"  {#/if} onclick="ShowTextboxBookingMoney(2);">{$P.Lang[27].Text}</option>
                                            <option value="3" {#if $T.BookingHalls_Group[0].StatusPay == 3} selected="selected"  {#/if} onclick="ShowTextboxBookingMoney(3);">{$P.Lang[28].Text}</option>
                                            <option value="0" {#if $T.BookingHalls_Group[0].StatusPay == 0} selected="selected"  {#/if} onclick="ShowTextboxBookingMoney(0);">{$P.Lang[8].Text} </option>
                                        </select>
                                        <div id="divBookingMoney" style="display: none; width: 100px" >{$P.Lang[29].Text}: <input type="text" id="txt_BookingMoney" name="txt_BookingMoney" value="{$T.BookingHalls_Group[0].BookingMoney}" /></div>
                                        <span id="lbWarning_BookingMoney"></span>

                                </td>
                            </tr>

                            <tr>
                                <td class="key">{$P.Lang[30].Text}
                                </td>
                                <td class="paramlist_key">
                                        <select id="txt_IsAllDayEvent" name="txt_IsAllDayEvent">
                                            <option value="0" {#if $T.BookingHalls_Group[0].IsAllDayEvent == 0} selected="selected"  {#/if}>{$P.Lang[31].Text} </option>
                                            <option value="1" {#if $T.BookingHalls_Group[0].IsAllDayEvent == 1} selected="selected"  {#/if}>{$P.Lang[32].Text} </option>
                                        </select>
                                </td>
                                <td class="key">{$P.Lang[33].Text}
                                </td>
                                <td class="paramlist_key">
                                        <select id="txt_Status" name="txt_Status">
                                            <option value="0" {#if $T.BookingHalls_Group[0].Status == 0} selected="selected"  {#/if}>{$P.Lang[34].Text}</option>
                                            <option value="1" {#if $T.BookingHalls_Group[0].Status == 1} selected="selected"  {#/if}>{$P.Lang[35].Text} </option>
                                            <option value="2" {#if $T.BookingHalls_Group[0].Status == 2} selected="selected"  {#/if}>{$P.Lang[36].Text} </option>
                                            <option value="3" {#if $T.BookingHalls_Group[0].Status == 3} selected="selected"  {#/if}>{$P.Lang[37].Text}</option>
                                            <option value="4" {#if $T.BookingHalls_Group[0].Status == 4} selected="selected"  {#/if}>{$P.Lang[38].Text}</option>
                                        </select>
                                </td>
                            </tr>
                            <!--<tr>
                                <td class="key">{$P.Lang[39].Text}
                                </td>
                                <td class="paramlist_key">
                                        <select id="txt_IsEditable" name="txt_IsEditable">
                                            <option value="0" {#if $T.BookingHalls_Group[0].IsEditable == "0"} selected="selected"  {#/if}>{$P.Lang[48].Text} </option>
                                            <option value="1" {#if $T.BookingHalls_Group[0].IsEditable == "1"} selected="selected"  {#/if}>{$P.Lang[49].Text}</option>
                                        </select>
                                </td>
                                <td class="key">{$P.Lang[40].Text}
                                </td>
                                 <td class="paramlist_key">
                                        <select id="txt_Disable" name="txt_Disable">
                                            <option value="false" {#if $T.BookingHalls_Group[0].Disable == "false"} selected="selected"  {#/if}>{$P.Lang[48].Text}</option>
                                            <option value="true" {#if $T.BookingHalls_Group[0].Disable == "true"} selected="selected"  {#/if}>{$P.Lang[49].Text} </option>
                                        </select>
                                 </td>
                            </tr>-->
                            <tr>
                                <td class="key">{$P.Lang[41].Text}
                                </td>
                                <td class="paramlist_key">

                                        <select id="txt_Color" name="txt_Color">
                                            <option value="0" {#if $T.BookingHalls_Group[0].Color == ""} selected="selected"  {#/if}>{$P.Lang[42].Text}</option>
                                            <option value="9" {#if $T.BookingHalls_Group[0].Color == "9"} selected="selected"  {#/if}>{$P.Lang[43].Text} </option>
                                            <option value="10" {#if $T.BookingHalls_Group[0].Color == "10"} selected="selected"  {#/if}>{$P.Lang[44].Text}</option>
                                            <option value="12" {#if $T.BookingHalls_Group[0].Color == "12"} selected="selected"  {#/if}>{$P.Lang[45].Text}</option>
                                            <option value="14" {#if $T.BookingHalls_Group[0].Color == "14"} selected="selected"  {#/if}>{$P.Lang[46].Text}</option>
                                        </select>
                                </td>
                                <td class="key">{$P.Lang[47].Text}
                                </td>
                                <td class="paramlist_key">
                                        <select id="txt_IsRecurring" name="txt_IsRecurring">
                                            <option value="0"  {#if $T.BookingHalls_Group[0].IsRecurring == "0"} selected="selected"  {#/if}>{$P.Lang[48].Text} </option>
                                            <option value="1"  {#if $T.BookingHalls_Group[0].IsRecurring == "1"} selected="selected"  {#/if}>{$P.Lang[49].Text} </option>
                                        </select>
                                </td>
                            </tr>


                        </table>

         
            </form>
        </fieldset>
    </div>
</div>