<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<div>
    <div id="element-box">

        <div class="m">
            <div class="col width-45" style="width: 100% !important">

                <fieldset>
                    <legend>{$P.Lang[22].Text}</legend>
                    <form action="" method="post" enctype="multipart/form-data" id="frmUpd_Permits"
                    name="frmUpd_Permits" onsubmit="return false;">
                   <input type="hidden" id="txt_PermitID" name="txt_PermitID" value="{$T.Permits.PermitID}" />
                    <table class="admintable" width="100%">
						 <tr><td class="key">{$P.Lang[0].Text}</td><td class="paramlist_key"><input type="text" id="txt_Name" name="txt_Name" value="{$T.Permits.Name}" /></td></tr>
                         <tr><td class="key">{$P.Lang[1].Text}</td>
                            <td class="paramlist_key"><select id="txt_IsAdmin" name="txt_IsAdmin">
                                            <option value="true" {#if $T.Permits.IsAdmin == "true"} selected="selected" {#/if}>{$P.Lang[2].Text}</option>
                                            <option value="false" {#if $T.Permits.IsAdmin == "false"} selected="selected" {#/if}>{$P.Lang[3].Text}</option>
                                                        </select>
                                </td>
                        </tr>   
                        <tr><td class="key">{$P.Lang[4].Text}</td>
                            <td class="paramlist_key"><select id="txt_IsContent" name="txt_IsContent">
                                            <option value="true" {#if $T.Permits.IsContent == "true"} selected="selected" {#/if}>{$P.Lang[2].Text}</option>
                                            <option value="false" {#if $T.Permits.IsContent == "false"} selected="selected" {#/if}>{$P.Lang[3].Text}</option>
                                                        </select>
                                </td>
                        </tr>  
                        <tr><td class="key">{$P.Lang[5].Text}</td>
                            <td class="paramlist_key"><select id="txt_IsPartner" name="txt_IsPartner">
                                            <option value="true" {#if $T.Permits.IsPartner == "true"} selected="selected" {#/if}>{$P.Lang[2].Text}</option>
                                            <option value="false" {#if $T.Permits.IsPartner == "false"} selected="selected" {#/if}>{$P.Lang[3].Text}</option>
                                                        </select>
                                </td>
                        </tr> 
                        <tr><td class="key">{$P.Lang[6].Text}</td><td class="paramlist_key"><select id="txt_TypePermits" name="txt_TypePermits">
                                            <option value="0" {#if $T.Permits.Type == "0"} selected="selected" {#/if}>{$P.Lang[7].Text}</option>
                                            <option value="1" {#if $T.Permits.Type == "1"} selected="selected" {#/if}>{$P.Lang[8].Text}</option>
                                            <option value="2" {#if $T.Permits.Type == "2"} selected="selected" {#/if}>{$P.Lang[9].Text}</option>
                                            <option value="3" {#if $T.Permits.Type == "3"} selected="selected" {#/if}>{$P.Lang[10].Text}</option>
                                            <option value="4" {#if $T.Permits.Type == "4"} selected="selected" {#/if}>{$P.Lang[11].Text}</option>
                                                        </select></td></tr>
                        <tr><td class="key">{$P.Lang[12].Text}</td><td class="paramlist_key"><select id="txt_ActiveStatusPermits" name="txt_ActiveStatusPermits">
                                            <option value="0" {#if $T.Permits.ActiveStatus == "0"} selected="selected" {#/if}>{$P.Lang[13].Text}</option>
                                            <option value="1" {#if $T.Permits.ActiveStatus == "1"} selected="selected" {#/if}>{$P.Lang[14].Text}</option>
                                            <option value="2" {#if $T.Permits.ActiveStatus == "2"} selected="selected" {#/if}>{$P.Lang[15].Text}</option>
                                                        </select>
                                                             </td></tr>   

                      </table>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>
