<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script language="javascript" type="text/javascript">


    $(document).ready(function () { setTimeout('Init_Dialog_Upd("#divPermit","#txt_CurrentPermitID");', 1000) });


</script>
<script language="javascript" type="text/javascript">
  
</script>

<div>
    <div id="element-box">

        <div class="m">
            <div class="col width-45" style="width: 100% !important">

                <fieldset>
                    <legend>{$P.Lang[19].Text}</legend>
                    <form action="" method="post" enctype="multipart/form-data" id="frmUpd_PermitDetails"
                    name="frmUpd_PermitDetails" onsubmit="return false;">
                   <input type="hidden" id="txt_ID" name="txt_ID" value="{$T.PermitDetails.ID}" />
                   <input type="hidden" id="txt_CurrentPermitID" name="txt_CurrentPermitID" value="{$T.PermitDetails.IDPermit}" />

                    <table class="admintable" width="100%">
						 <tr><td class="key">{$P.Lang[0].Text}</td><td class="paramlist_key">
                             <div id="divPermit">
                                        </div>
						 </td></tr>
                         
                         <tr><td class="key">{$P.Lang[1].Text} </td><td class="paramlist_key"><input type="text" id="txt_Name" name="txt_Name" value="{$T.PermitDetails.Name}" /></td></tr>
                         
                         <tr><td class="key">{$P.Lang[2].Text}</td><td class="paramlist_key"><input type="text" id="txt_PageURL" name="txt_PageURL" value="{$T.PermitDetails.PageURL}" /></td></tr>
                         
                         <tr><td class="key">{$P.Lang[3].Text} </td><td class="paramlist_key"><select id="txt_Type" name="txt_Type">
                                            <option value="0" {#if $T.PermitDetails.Type == "0"} selected="selected" {#/if}>{$P.Lang[4].Text}</option>
                                            <option value="1" {#if $T.PermitDetails.Type == "1"} selected="selected" {#/if}>{$P.Lang[5].Text}</option>
                                            <option value="2" {#if $T.PermitDetails.Type == "2"} selected="selected" {#/if}>{$P.Lang[6].Text}</option>
                                            <option value="3" {#if $T.PermitDetails.Type == "3"} selected="selected" {#/if}>{$P.Lang[7].Text}</option>
                                            <option value="4" {#if $T.PermitDetails.Type == "4"} selected="selected" {#/if}>{$P.Lang[8].Text}</option>
                                                        </select>
                                                      </td></tr>
                        
                         <tr><td class="key">{$P.Lang[9].Text}</td><td class="paramlist_key"><select id="txt_Status" name="txt_Status" >
                                            <option value="0" {#if $T.PermitDetails.Status == "0"} selected="selected" {#/if}>{$P.Lang[10].Text}</option>
                                            <option value="1" {#if $T.PermitDetails.Status == "1"} selected="selected" {#/if}>{$P.Lang[11].Text}</option>
                                            <option value="2" {#if $T.PermitDetails.Status == "2"} selected="selected" {#/if}>{$P.Lang[12].Text}</option>
                                                        </select>
                                                              </td></tr>

                      </table>
                    </form>
                </fieldset>
            </div>
            <div class="clr">
            </div>
        </div>
    </div>
</div>
