<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
	</configSections>
	<appSettings>
    
    <add key="NUM_LANG" value="NUM_LANG"/>
    <add key="LANG_DATA" value="LANG_DATA"/>


    <add key="CUR_LANG_CMS" value="CUR_LANG_CMS"/>
    <add key="CUR_LANG_WEB" value="CUR_LANG_WEB"/>
    <add key="CUR_LANG" value="CUR_LANG"/>


    <add key="DEF_LANG_CMS" value="DEF_LANG_CMS"/>
    <add key="DEF_LANG_WEB" value="DEF_LANG_WEB"/>
    <add key="DEF_LANG" value="DEF_LANG"/>
    
    
		<add key="IMAGES_MAX_WIDTH" value="500"/>
		<add key="IMAGES_MAX_HEIGHT" value="500"/>
		<add key="IMAGES_THUMB_WIDTH" value="100"/>
		<add key="IMAGES_THUMB_HEIGHT" value="100"/>
    
		<add key="TYPE_UPLOAD_BACKGROUND_IMAGE" value="BACKGROUND_IMAGE"/>
		<add key="TYPE_UPLOAD_HALLS_IMAGE" value="HALLS_IMAGE"/>
    <add key="TYPE_UPLOAD_ROOMS_IMAGE" value="ROOMS_IMAGE"/>
    <add key="TYPE_UPLOAD_SERVICES_IMAGE" value="SERVICES_IMAGE"/>
    <add key="TYPE_UPLOAD_NEWS_IMAGE" value="NEWS_IMAGE"/>
    
    
    <add key="UPLOAD_PATH_DEFAULT" value="\Uploads\"/>
		<add key="UPLOAD_PATH_TEMPT" value="\Uploads\Tempt\"/>
		<!-- Chua file dc upload len, sau do resize lai anh va move ve thu muc chua thuc su -->
		<add key="UPLOAD_PATH_BACKGROUND" value="\Uploads\Backgrounds\"/>
		<add key="UPLOAD_PATH_HALLS" value="\Uploads\Halls\"/>
    <add key="UPLOAD_PATH_ROOMS" value="\Uploads\Rooms\"/>
    <add key="UPLOAD_PATH_SERVICES" value="\Uploads\Services\"/>
    <add key="UPLOAD_PATH_NEWS" value="\Uploads\News\"/>
    
  </appSettings>

	<system.web>
    <httpRuntime requestValidationMode="2.0"/>
		<compilation debug="true" targetFramework="4.0"/>
		<!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"  validateRequest="false" />-->
    <pages enableEventValidation="false" viewStateEncryptionMode="Never"></pages>
    
  </system.web></configuration>
