<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
	</configSections>
	<appSettings>


    <add key="UPLOAD_PATH_DEFAULT" value="\Uploads\"/>
		<add key="UPLOAD_PATH_TEMPT" value="\Uploads\Tempt\"/>

<!--==================Bo sung=================================================-->
    <add key="IMAGES_MAX_WIDTH" value="500"/>
    <add key="IMAGES_MAX_HEIGHT" value="500"/>
    <add key="IMAGES_THUMB_WIDTH" value="100"/>
    <add key="IMAGES_THUMB_HEIGHT" value="100"/>

    <add key="TYPE_UPLOAD_BACKGROUND_IMAGE" value="BACKGROUND_IMAGE"/>
    <add key="TYPE_UPLOAD_HALLS_IMAGE" value="HALLS_IMAGE"/>
    <add key="TYPE_UPLOAD_ROOMS_IMAGE" value="ROOMS_IMAGE"/>
    <add key="TYPE_UPLOAD_SERVICES_IMAGE" value="SERVICES_IMAGE"/>
    <add key="TYPE_UPLOAD_Contents_IMAGE" value="Contents_IMAGE"/>
    <!-- Chua file dc upload len, sau do resize lai anh va move ve thu muc chua thuc su -->
    <add key="UPLOAD_PATH_BACKGROUND" value="\Uploads\Backgrounds\"/>
    <add key="UPLOAD_PATH_HALLS" value="\Uploads\Halls\"/>
    <add key="UPLOAD_PATH_ROOMS" value="\Uploads\Rooms\"/>
    <add key="UPLOAD_PATH_SERVICES" value="\Uploads\Services\"/>
    <add key="UPLOAD_PATH_Contents" value="\Uploads\Contents\"/>
    <!--===================================================================-->


  </appSettings>
	<connectionStrings>
    <add name="DatabaseDA1" connectionString="metadata=res://*/DatabaseDA.csdl|res://*/DatabaseDA.ssdl|res://*/DatabaseDA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=113.190.40.40,1807;initial catalog=RM_EnglishCamp;user id=appserver;password=nhakhachChinhPhu2lethach;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DatabaseDA" connectionString="metadata=res://*/DatabaseDA.csdl|res://*/DatabaseDA.ssdl|res://*/DatabaseDA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Independence-PC\SQLEXPRESS;initial catalog=RM_Database_NTK;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
	<system.web>
    <httpRuntime requestValidationMode="2.0"/>
		<compilation debug="true" targetFramework="4.0"/>
		<!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"  validateRequest="false" />-->
    <pages enableEventValidation="false" viewStateEncryptionMode="Never"></pages>
    
  </system.web></configuration>
