<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--==============================================================-->
    <add key="CONFIG-ALBUM_SLIDE_DEFAULT_PAGE" value="CONFIG-ALBUM_SLIDE_DEFAULT_PAGE"/>
    <add key="CONFIG-ALBUM_SLIDE_MOBILE" value="ALBUM_SLIDE_MOBILE"/>
    <!--==============================================================-->

    <!--<add key="NUM_LANG" value="NUM_LANG"/>
    <add key="LANG_DATA" value="LANG_DATA"/>


    <add key="CUR_LANG_CMS" value="CUR_LANG_CMS"/>
    <add key="CUR_LANG_WEB" value="CUR_LANG_WEB"/>
    <add key="CUR_LANG" value="CUR_LANG"/>


    <add key="DEF_LANG_CMS" value="DEF_LANG_CMS"/>
    <add key="DEF_LANG_WEB" value="DEF_LANG_WEB"/>
    <add key="DEF_LANG" value="DEF_LANG"/>-->

    <add key="PATHIMAGE_BACKGROUND" value= "http://localhost:2338/Uploads/"/>

    <add key="UPLOAD_PATH_DEFAULT" value="\Uploads\"/>
    <add key="UPLOAD_PATH_TEMPT" value="\Uploads\Tempt\"/>
    <!-- Chua file dc upload len, sau do resize lai anh va move ve thu muc chua thuc su -->
    <add key="UPLOAD_PATH_BACKGROUND" value="\Uploads\Backgrounds\"/>
    <add key="UPLOAD_PATH_HALLS" value="\Uploads\Halls\"/>
    <add key="UPLOAD_PATH_ROOMS" value="\Uploads\Rooms\"/>
    <add key="UPLOAD_PATH_SERVICES" value="\Uploads\Services\"/>
    <add key="UPLOAD_PATH_NEWS" value="\Uploads\News\"/>


  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <add name="DatabaseDA1" connectionString="metadata=res://*/DatabaseDA.csdl|res://*/DatabaseDA.ssdl|res://*/DatabaseDA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Independence-PC\SQLEXPRESS;initial catalog=RM_Database_NTK;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="DatabaseDA" connectionString="metadata=res://*/DatabaseDA.csdl|res://*/DatabaseDA.ssdl|res://*/DatabaseDA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=113.190.40.40,1807;initial catalog=RM_EnglishCamp;user id=appserver;password=nhakhachChinhPhu2lethach;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
